<div class="container">
  <h1 id="title">Eat Tha Burgers!</h1>
</div>
<div class="container">
  <div class="col-sm-6 text-center">
    <h4 class="text">Which burger would you like to try?</h4>
    <form class="button-size" action="/api/burgers" method="POST">
      <input type="text" class="text-center" id="insertBurger" name="burger_name"
        placeholder="Insert new burger"></input>
      <span class="input-group-btn">
        <button type="submit" class="insertBurgerBtn btn btn-primary">Submit</button>
      </span>
    </form>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h4 class="text-center burgereat">Burgers to Eat:</h4>
      {{#each burger}} {{#unless this.devoured}}
      <form>
        <div class="input-group">
          <input type="hidden" name="devoured" value="true">
          <li class="form-control uneaten">{{this.burger_name}}</li>
          <span class="input-group-btn">
            <button class="eatBurg btn btn-info" data-id="{{id}}" type="submit">Devour It!</button>
          </span>
        </div>
      </form>
      {{/unless}} {{/each}}
    </div>
    <div class="col-sm-6">
      <h4 class="text-center eaten">Eaten Burgers:</h4>
      {{#each burger}} {{#if this.devoured}}
      <div>
        <li class="form-control devoured">{{this.burger_name}}</li>
      </div>
      </form>
      {{/if}} {{/each}}
    </div>
  </div>
  <br>
</div>
<script>

  $(".eatBurger").click(function (event) {
    event.preventDefault()
    let id = $(this).attr("data-id")
    console.log(id)
    $.ajax({
      url: '/api/burgers/' + id,
      type: 'PUT',
    }).then(function (info) {
      location.reload()
    })
  })
</script>

{{!-- <form class="addAburger">
  <div class="form-group">
    <label for="addNew">
      <h3>Enter the next burger you want to make. </h3>
    </label>
    <input type="text" class="form-control add-new" id="addNewBurger" placeholder="Enter a burger here">
    <br>
    <button type="submit" class="btn btn-primary post"><i class="fas fa-plus-square"></i> Submit</button>

</form> --}}