body {
    background-image: url("../images/burger-black-background.jpg");
}
 #animaterubberBand{
    text-align: center !important;
    color: white;
    font-size: 60px;
    font-family: 'Kaushan Script', cursive;
}
.burgermenu, .eaten {
    color: white;
    font-size: 38px;
    font-family: 'Kaushan Script', cursive;
}
.text {
    color: white;
    font-size: 38px;
    font-family: 'Kaushan Script', cursive;
}
#insertBurger {
    width: 300px;
}
