body {
    background-image: url("http://www.sclance.com/backgrounds/burger-background/burger-background_461862.jpg");
}
 #title {
    text-align: center !important;
    color: white;
    font-size: 40px;
}
#make {
    text-align: center !important;
    color: white;
    font-size: 18px;
}
#burgernew {
    text-align: center !important;
    color: white;
}
