body {
    background-image: url("http://www.sclance.com/backgrounds/burger-background/burger-background_461862.jpg");
}
 #title {
    text-align: center !important;
    color: white;
    font-size: 40px;
}
.add {
    color: white;
    font-size: 24px;
}
#burgernew {
    text-align: center !important;
    color: white;
}
.burger-menu {
    color: white;
}
.devour {
    color: red;
}
.bu {
    color: white;
    font-size: 14px;
}
.text, .burgereat, .eaten {
    color: white;
    font-size: 20px;
}
